{% extends "base.html" %}

{% block content %}
        <form action="https://duckduckgo.com" method="GET">
            <label for="search-term">Search term:</label>
            <input id="search-term" type="text" name="q"/>
            <input type="submit"/>
        </form>

        <h2>My favorite searches</h2>
        <ul>
            <li><a href="https://duckduckgo.com/?q=python" target="_BLANK">Python</a></li>
            <li><a href="https://duckduckgo.com/?q=html+hints" target="_BLANK">HTML Help</a></li>
        </ul>
{% endblock %}